.wrapper {
    /* display: flex; */
    border: 1px solid black;
}

.container {}

.card {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.cardTitle {
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.createNewApp {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}