.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}